.masthead {
    min-height: 30rem;
   
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../images/bg-masthead.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    z-index: 999;
}
.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}  
@media (min-width: 992px) {
    .masthead {
       height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
}
.head{
    font-size: 1.25rem;
    margin-top: -20px;
}
.cont1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 12rem;
    margin-left: 19rem;
    width: fit-content;
    text-align: justify;
    margin-top: -1rem !important;
}
.mb-1{
    margin-top: -2rem !important;
    margin-bottom: .25rem!important;
    font-weight: 700;
}
a{
    text-decoration-line: none;
}
.btn-primary {
    background-color: #1d809f !important;
    border-color: #1d809f !important;
    color: #fff !important
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #155d74 !important;
    border-color: #666a6b !important
}
.btn3 {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1);
    font-weight: 700 !important;
}
.btn-xl {
    padding: 1rem 2rem !important;
    font-size:1rem !important;
    line-height: 1.5;
    border-radius: .25rem;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: -10px;
}
.lead{
    margin-bottom: 2rem !important;
    font-size: 1rem !important;
    font-weight: 300;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: -10px;
}
.bg-primary {
    background-color: #1D809F !important;
}
  
.text-primary {
    color: #1D809F !important;
}
  
.text-secondar {
    color: #ecb807 !important;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color:#1d809f !important;
}
.content-section-heading h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}
.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase
}
.text-faded {
    color: rgba(255, 255, 255, .7);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.service-icon {
    background-color: #fff;
    color: #1d809f;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}
.icn{
    color: #1d809f;
}
.callout {
    padding: 15rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, .1) 0, rgba(255, 255, 255, .1) 100%), url("../images/bg-callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.list-inline-item{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

footer.footer .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #63757a;
    transition: background-color .15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .1)
}
footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none
}
.callout h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem
}
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 45px
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: #fff;
}
.scroll-to-top:hover {
    background: #343a40;
}
.scroll-to-top i {
    font-weight: 800;
}
